* {
  margin: 0;
}
.title {
  background-color: #afc2cb;
  padding: 10px 0px 10px 20px;
}

.navList {
  background-color: #e2f6ff;
  padding: 5px 0px 5px 20px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
